<!DOCTYPE html>
<html>
    <head>
        {% block head%}

        <title>Rodrigo Reis</title>

        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <header>

            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Aulas</a>
            </div>
        </header>

    <body>

        <div class="container">
        
        </div>        

        {% block content %}

        {% endblock %}


        <footer>
        </footer>

        <script src="/scripts.js"> </script>
        
        </body>
    </html>    